
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<header class="major">
    <h1>404</h1>
    <h2>Sayfa Bulunamadı</h2>
</header>
<p>Aradığınız sayfa kaldırılmış ya da böyle bir sayfa yok.</p>
<a href="@Url.Action("Index","Home")" class="button primary scrolly" onclick="LogIn()">Ana Sayfa</a>
           